.jumbotron {
	text-align: center;
	max-width: 900px;
	margin-top: 10px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.form-control {
	display: inline-flex;
	width: 96%;
	margin-bottom: 10px;
	text-transform: uppercase;
}